@font-face {
  font-family: 'SourceCodePro-ExtraLight';
    src: url('assets/SourceCodePro-ExtraLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'SourceCodePro-ExtraLight', sans-serif;
}

#splash-page {
  position: relative;
    height: 100vh;
}

video {
  width: 100%;
    height: 100%;
    object-fit: cover;
}

.paused {
    animation-play-state: paused;
}



#diagram-overlay img {
  width: 40%;
    opacity: 0.8;
    animation: flicker 2.5s infinite alternate;
  max-width: 50%;
    /* Prevents the image from being too large */
    max-height: 100vh;
    /* Prevents the image from being too tall */
    position: absolute;
    /* Allows for absolute positioning within diagram-overlay */
}


.centered-text {
  position: absolute;
  top: 0;
    width: 100%;
  text-align: center;
    color: rgb(34, 29, 3);
    font-size: 24px;
    padding: 20px 0;
    /* Adds some padding at the bottom */
    letter-spacing: 4px; /* Adjust the letter-spacing to add space between words */
}

#top-right-text {
    position: absolute;
    top: 0px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
    color: rgb(34, 29, 3); /* Set the text color */
    font-size: 18px; /* Set the font size */
}


@keyframes flicker {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
        opacity: 0; /* Start with no opacity */
    }
    5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
        opacity: 1; /* Quick flickers */
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0; /* Start and end with no opacity */
    }
    50% {
        opacity: 1; /* Fully visible at the midpoint */
    }
}

#diagram-img {
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    animation: fadeInOut 0.5s ease-in-out, flicker 1.5s steps(1, start) 0.5s infinite; /* Adjust duration as needed */
    transform: scale(0.4); /* Scale the image to 50% */
    animation-delay: 0.5s; /* Delay flicker animation to synchronize with fadeInOut */
    animation-fill-mode: both; /* Ensure the final state of the fadeInOut animation persists */
    margin-left: auto;
      margin-top: auto;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#bottom-left-image {
    position: fixed;
    bottom: 7px; /* Adjust the bottom distance as needed */
    left: 17px; /* Adjust the left distance as needed */
    cursor: pointer;
    z-index: 9999; /* Ensure the image stays on top of other content */
    transform: translate(-5px, -5px); /* Move the SVG up and to the left */
}
