@font-face {
  font-family: 'SourceCodePro-ExtraLight';
    src: url('assets/SourceCodePro-ExtraLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'SourceCodePro-ExtraLight', sans-serif;
}

#splash-page {
  position: relative;
    height: 100vh;
}

video {
  width: 100%;
    height: 100%;
    object-fit: cover;
}

#diagram-overlay img {
  max-width: 50%;
  max-height: 100vh;
  position: absolute;
  animation: flicker 7s infinite alternate;
}

.paused {
    animation-play-state: paused;
}



#diagram-overlay img {
<<<<<<< HEAD
  width: 40%;
    opacity: 0.8;
    animation: flicker 1s infinite alternate;
=======
  max-width: 50%;
    /* Prevents the image from being too large */
    max-height: 100vh;
    /* Prevents the image from being too tall */
    position: absolute;
    /* Allows for absolute positioning within diagram-overlay */
>>>>>>> 64db2c06ee5ea0ffa93cd14d7525f1987a642b25
}


.centered-text {
  position: absolute;
  top: 0;
    width: 100%;
  text-align: center;
    color: rgb(34, 29, 3);
    font-size: 24px;
    padding: 20px 0;
    /* Adds some padding at the bottom */
    letter-spacing: 4px; /* Adjust the letter-spacing to add space between words */
}

#top-right-text {
    position: absolute;
    top: 0px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
    color: rgb(34, 29, 3); /* Set the text color */
    font-size: 18px; /* Set the font size */
}


@keyframes flicker {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
}

#diagram-overlay img {
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    animation: flicker 3s ease-in-out infinite; /* Adjust the duration as needed */
    transform: scale(0.4); /* Scale the image to 50% */
}



    
